/*================
 *    默认样式        *
 ================*/
*{margin:0;padding:0;}
html {
    font-size: 62.5%;
    color: #555;
    font-family: "微软雅黑";
    position: relative;
    background: #fff;
}
h2,h3{
    color: #333333;
}
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
img{border:none;}

em{font-style: normal; }
/*=============
 * 操作工具样式
   ============*/

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*=============
 *自定义页面样式*
 ==============*/
body {
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: none;
    cursor: pointer;
}
input{outline:none}


/*全局主体*/
.center{width: 1200px; margin:0 auto;}
h2{font-size: 40px; color:#333333;font-weight: normal;text-align: center;line-height: 40px; /*margin-bottom: 10px;*//*padding-top: 80px;*/}
h2 span{color:#076fcf;}
h5{font-size: 18px; color:#333333;font-weight: normal;text-align: center;line-height: 18px; margin-bottom: 50px;}
h5 span{font-weight: bold;}
/*全局主体*/
.center{width: 1200px; margin:0 auto;}
/*网站头部*/
header{width:100%; min-width: 1200px; position: relative; border-bottom: 1px solid #3399FF;}
header .top{background: #eee; font-size: 14px; color:#555; height: 39px; border-bottom: 1px solid #efefef;}
header .top .center .tel{float: left; line-height: 39px;}
header .top .center .phone{float: right; line-height: 39px;}
header .top .center .phone ul li{float: left;margin-right: 8px; font-size: 14px;}
header .top .center .phone ul li a{font-size: 14px; margin-right: 8px;}

header .contact{width: 100%; min-width: 1200px;}
header .contact h1{float: left;}
header .contact h1 a{display: block;float: left; margin-top: 30px;}
header .contact h1 .char{float: left; margin-top: 42px; margin-left: 12px;}

header .contact h2{float: left;}
header .contact h2 a{display: block;float: left; margin-top: 30px;}
header .contact h2 .char{float: left; margin-top: 42px; margin-left: 12px;}

header .contact div.top-right{float: right; padding:27px 0 23px;}
header .contact div ul{margin-bottom: 3px;}
header .contact div ul li{float: left;}
header .contact div ul li .moren{background: #3399FF; color:#fff;}
header .contact div ul li a{font-size: 12px; padding:5px 9px 3px 13px;}
header .contact div ul li a:hover{background: #3399FF; color:#fff; text-decoration: none;}
header .contact div div.form{width: 508px; height: 40px; border:2px solid #3399ff; position: relative;}
header .contact div div.form input{border:none; width:418px; height: 36px; padding:1px 10px;position: absolute;top: 0;}
header .contact div div.form button{border: none; width: 90px; height:39.5px; background: #3399ff; color: #fff;font-size: 16px; line-height: 39.5px; position: absolute;right: 0; cursor: pointer;}
header .contact div div.form button img{position: absolute; position: relative; top:5px; left:-3px;}
header .contact div div .bot_nav{font-size: 12px; line-height: 12px; margin-top: 15px;}
header .contact div div .bot_nav a{margin-right: 10px;}
header .contact div div .bot_nav a:hover{color: #3399FF;text-decoration: none;}

header nav{height: 50px;}
header nav div.center{position: relative;}
header nav ul.aaa li{float: left; padding:0px 13.2px;}
header nav ul.aaa li.er_li{padding:0px 35px 0 60px}
header nav ul.aaa li a{font-size: 20px; line-height: 50px;}
header nav ul.aaa li a:hover{text-decoration: none;}
header nav ul.aaa li span.sp1{font-size: 12px; color:#fff; background: #ff6c55; margin-left: 3px; margin-top: -3px;  padding:0px 5px; border-radius: 3px;}
header nav ul.aaa .all{padding:0;}
header nav ul.aaa .all a{font-size: 18px; color:#fff; background: #3399ff; line-height: 50px;padding:13px 70px 13px 22px; position: relative;}
header nav ul.aaa .all img{margin-right: 10px; position: absolute;top:17px;}
header nav ul.aaa li.all a span{margin-left: 35px;}
header nav ul.aaa .hot_line{font-size: 20px;  color:#3399ff; font-weight: bold; line-height: 50px; padding:0 0 0 20px;}
header nav ul.aaa .hot_line img{display: block; margin:16px 5px 0 0px;float: left;}
header nav ul.aaa .hot_line span{display: block;float: right;}
header nav ul.ul_nei{width: 199px; background: #303030; margin-left: -8px;    height: 450px;}
header nav ul.ul_nei li{float: none;padding: 17px 0;}
header nav ul.ul_nei li:last-child{padding-bottom: 31px;}
header nav ul.ul_nei li div{margin-left: 16px;position: relative;}
header nav ul.ul_nei div img{margin-top: 0px; display: block; float: left;}
header nav ul.ul_nei div a{color: #fff; font-size: 16px;  margin-left: 5px; line-height: 20px; margin-left: 30px;}
header nav ul.ul_nei div a:hover{color:#3399FF;}
header nav ul.ul_nei div a img{position: absolute; top:5px; right: 14px;}
header nav ul.ul_nei li+li span{background: url(../images/ioic.png) no-repeat; width: 27px; height: 27px; display: block;position: absolute;    top: -1px;left: -3px;}
header nav ul.ul_nei li .i1{background-position: 4px 2px; }
header nav ul.ul_nei li .i2{background-position: 5px -29px; }
header nav ul.ul_nei li .i3{background-position: -27px 2px; }
header nav ul.ul_nei li .i4{background-position: -27px -28px; }
header nav ul.ul_nei li .i5{background-position: -58px -28px; }
header nav ul.ul_nei li .i6{background-position: -90px -28px; }
header nav ul.ul_nei li .i7{background-position: -58px 3px; }
header nav ul.ul_nei li .jt{background-position: -92px 3px; position: absolute; left: 160px; }



div.company ul.company-menu{float: left; width: 190px; background: #fff; line-height: 57px; text-align: center; margin-right: 40px;}
div.company ul.company-menu li{border-bottom:1px solid #e2e2e2; border-left: 3px solid #fff;}
div.company ul.company-menu li.last-item{border-bottom:0;}
div.company ul.company-menu li:hover{border-left: 3px solid #269aeb; }
div.company ul.company-menu li:hover a{color:#269aeb;}
div.company ul.company-menu li a{display: block; }


/*导航*/
div.navv{ width: 199px; height: 400px; background: #303030; margin:0 auto; position: absolute; top: 50px;  left: 0px; z-index: 10; }
div.navv ul{overflow: hidden;}
div.navv ul li{line-height: 18px;  width: 170px; margin:34px auto 0; position: relative;}
div.navv ul li a{color:#fff;font-size: 16px; margin-left: 30px; opacity: 0.8;}
div.navv ul li a:hover{opacity: 1;}
div.navv ul li span{background: url(../images/ioic.png) no-repeat; width: 27px; height: 27px; display: block;position: absolute;    top: -1px;left: -3px;}
div.navv ul li span.i1{background-position: 4px 2px; }
div.navv ul li span.i2{background-position: 5px -29px; }
div.navv ul li span.i3{background-position: -27px 2px; }
div.navv ul li span.i4{background-position: -27px -28px; }
div.navv ul li span.i5{background-position: -58px -28px; }
div.navv ul li span.i6{background-position: -90px -28px; }
div.navv ul li span.i7{background-position: -58px 3px; }
div.navv ul li span.jt{background-position: -92px 3px; position: absolute; left: 160px; }
/*@media   (max-width: 1200px) {
    div.navv{left: 0;}
}*/
header{width:100%; min-width: 1200px;}
header .top{background: #eee; font-size: 14px; color:#555; height: 39px; border-bottom: 1px solid #efefef;}
header .top .center .tel{float: left; line-height: 39px; position: relative;}
header .top .center .tel .cut_city p{ font-size: 14px; width: 100%;}
header .top .center .tel .cut_city p span.cnxyj{margin-left: 30px;}
header .top .center .tel .cut_city p span.need{color:#ff6800;}
header .top .center .tel .cut_city div.xzwcs{ border-bottom:1px solid #dfdfdf; border-top:1px solid #dfdfdf; }
header .top .center .tel .cut_city a.specific{padding:0 15px 0 0; border-right: 1px solid #dfdfdf; margin-left: 15px; line-height: 14px; font-size: 14px;}
header .top .center .tel .cut_city{width:200px; margin:0 auto;}
header .top .center .tel .cut_city p.gdcs{width: 136px; margin:0 auto; }
header .top .center .tel .cut_city p.gdcs span{margin-left: 10px; font-size: 14px;}

/*城市切换*/
.cut_city{
    display: none;
    width: 260px;
    height: 150px;
    border: 1px solid #eee;
    position: absolute;
    top: 39px;
    left: 141px;
    background: #fff; z-index: 10;}
.cut_zhe{display: none;
    width: 80px;
    height: 40px;
    /*border: 1px solid #dfdfdf;*/
    border-bottom: none;
    position: absolute;
    top: 0;text-align: center;
    left: 142px;
    background: #fff; z-index: 10;}
p.need{}
.tanchuang{width: 100%; height: 100%; background: #ffffff; top:0; left: 0; position: absolute; z-index: 25; opacity: 0.2; display: none;-khtml-opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);}
#alert{
    text-align: center; width: 500px; height: 360px; background: #fff; position: fixed; top: 30%; left: 37%;
    display: none; border:1px solid #dfdfdf; z-index: 30000;
    border-radius: 5px; opacity: 0.98;
}
#alert a{padding:5px 10px; font-size: 16px; position: absolute;top: 0; right: 0; }
#alert img{width: 150px; margin: 40px 0 10px;}
#alert form input{border:none; font-size: 16px;}
#alert form #btn{    padding: 15px 13px;  margin-left: 15px; cursor: pointer;}
#alert p{font-size: 24px; padding:40px 0 20px; line-height: 24px;}

#alert form input.phone{width:365px ;padding: 15px 0 15px 15px; margin:15px auto 0; border:1px solid #dfdfdf;  }
#alert form .yzmm{width: 380px; height: 50px; margin: 15px auto 0;}
#alert form input.codee{width: 235px;padding: 15px 0 15px 15px; border:1px solid #dfdfdf; float: left;}
#alert form span{height: 50px; display: block;float: right;background: #dfdfdf;line-height: 50px; font-size: 16px; width: 120px; cursor: pointer;}
#alert form input.button{ margin-top:30px; background: #3399ff; width: 380px; height: 50px; border-radius: 3px; font-size: 20px; color:#fff; opacity: 0.9; font-family: "微软雅黑";}
#alert form input.button:hover{opacity: 1;cursor: pointer;}

