@charset "UTF-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0; padding:0;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
body{font:100% "Arial","Microsoft Yahei","sans-serif"; color:#666;}
*{-webkit-transition:all 0.2s; -moz-transition:all 0.2s; -o-transition:all 0.2s; transition:all 0.2s;}
a{color:#666; text-decoration:none;}
a:hover{color: #269aeb;}
em,address,i{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse; border-spacing:0;}
p{word-wrap:break-word;}
div.main{width:1000px; margin: 0 auto;}
div.content{ margin-bottom: 40px;}
.tips{font-size:14px; color:#999; text-align: center;}
.fix-float{zoom: 1; }
.fix-float:after{content:'';clear:both; visibility:hidden; height:0; display: block;}
:-moz-placeholder {color: #999;}
::-moz-placeholder {color: #999;}
input:-ms-input-placeholder{color: #999;}
input::-webkit-input-placeholder{color: #999;}

div.top{background: #f9f9f9; border-bottom:1px solid #e2e2e2; font-size:12px; line-height: 34px; overflow: hidden;}
div.top p.l{float: left;}
div.top p.l span{margin-right: 20px;}
div.top p.r{float: right;}
div.top p.r .wechat{background:url('../images/wechat-i.png') no-repeat; padding-left:22px;}
div.top p.r .wechat img{display:none; position: absolute;}
div.top p.r .wechat:hover img{display: block; z-index: 9; border:1px solid #e2e2e2;}


header{height:40px; padding:30px 0;}
header h1,
header h2{float:left; margin-right: 10px; padding-right:10px; border-right:1px solid #999; height: 40px;}
header .city{float: left; font-size:12px; position: relative;}
header .city>em{line-height:20px; display: block; position: relative; z-index:3;}
header .city .current-city{color:#333; font-size:16px;}
header .city .switch-city{width:70px;  color:#ff6800; cursor: pointer;}
header .city .switch-city i{width: 20px; height: 20px; display: inline-block; background:url("../images/dep.gif") no-repeat center center;vertical-align: top;}
header .city:hover .city-box{display: block;}
header .city .city-box{width:305px;  position: absolute; z-index:2; top:0; left:0; display: none;}
header .city .city-box div.seize{height:50px; background: #fff; border:1px solid #e2e2e2; border-bottom:0; position: relative; z-index:1; left:-11px; top:-5px; }
header .city .city-box div.seize:after{display: block; height: 0; line-height: 1px; font-size: 0; content:"."; clear:both;}
header .city .city-box div.bg{background: #fff; border:1px solid #e2e2e2; padding:0 10px; position: relative; top:-6px; left:-11px;}
header .city .city-box p.guess{border-bottom:1px dotted #eee; line-height: 40px;}
header .city .city-box p.guess a{color:#ff6800;}
header .city .city-box p.more{border-top:1px dotted #eee; text-align: center; line-height: 40px;}
header .city .city-box p.more i{background: url("../images/more-city.png") no-repeat left center; display: inline-block; vertical-align: top; padding-left:20px;}
header .city .city-box ul{overflow:hidden;}
header .city .city-box ul li{float:left; border-right:1px solid #eee; margin: 5px 0;}
header .city .city-box ul li.item-last{border:0;}
header .city .city-box ul li a{display:inline-block; width:70px; text-align: center;}
header .search{float:left; margin:2px 0 2px 15px; border:1px solid #269AEB; }
header .search input{border-right:0; width:200px; height: 34px;outline:0; float: left; font-size:14px; line-height: 34px; color:#777; border:0;}
select::-ms-expand {display: none;}
header .search select{float:left; border:0;appearance:none; -moz-appearance:none; -webkit-appearance:none; color:#269aeb; font-size:14px; height: 34px; line-height: 34px; padding: 0 5px; outline: 0;}
header .search a{background: #269AEB; color:#fff; float:left; height: 34px; line-height: 34px; padding:0 25px; font-size:16px;}
header .search a:hover{background:#3AA5EB;}
header .telphone{color:#269aeb; font-size:26px; font-weight: bold; font-style: italic; line-height: 40px; float:right; background: url("../images/telphone.png") no-repeat; padding-left:45px;}
header .telphone2{color:#269aeb; font-size:23px; font-weight: bold; font-style: italic; float:right; background: url("../images/telphone.png") no-repeat; padding-left:45px;}
header .telphone2 p.agent{font-size:13px; font-weight: normal;}

nav{height: 40px; border-bottom:1px solid #269aeb;}
nav .main{position: relative;}
nav .primary{float: left; margin-left: 190px; }
nav .primary h2{font-size:16px; font-weight: normal; line-height: 40px; float: left; text-align: right; margin-left:30px; position: relative;}
nav .primary h2 a{display: block;}
nav .primary h2>img{display: block; width: 15px; height: 8px; position: absolute; top:7px; right: -15px;}
nav .home-menu{width: 190px; position: absolute; opacity: 1; z-index:1;}
nav .home-menu h2{font-size:18px; height: 40px; line-height: 40px; background: #269aeb; color:#fff; text-align: center; margin-bottom: 1px;}
nav .home-menu dl{height: 35px; padding:15px 25px; background: #626161; border-bottom:1px solid #737373;}
nav .home-menu dl:hover{background: #666565;}
nav .home-menu dl dt{padding-left:22px; line-height: 20px;}
nav .home-menu dl dt h3{font-size:14px; font-weight: normal;}
nav .home-menu dl dt h3 a{color:#fff;}
nav .home-menu dl:hover dt h3{transform:translate(2px,0);}
nav .home-menu dl:hover dd{transform:translate(2px,0);}
nav .home-menu dl dt.menu-1{background: url("../images/icons-1.png") no-repeat left center; }
nav .home-menu dl dt.menu-2{background: url("../images/icons-2.png") no-repeat left center; }
nav .home-menu dl dt.menu-3{background: url("../images/icons-3.png") no-repeat left center; }
nav .home-menu dl dt.menu-4{background: url("../images/icons-4.png") no-repeat left center; }
nav .home-menu dl dt.menu-5{background: url("../images/icons-5.png") no-repeat left center; }
nav .home-menu dl dt.menu-6{background: url("../images/icons-6.png") no-repeat left center; }
nav .home-menu dl dd{padding-left:22px; line-height: 15px;}
nav .home-menu dl dd a{color:#d8d8d8; font-size:12px;}
nav .home-menu dl dd a:hover{text-decoration: underline; color:#fff;}
nav .home-menu dl dd i{width: 1px; height: 12px; background: #d8d8d8; display: inline-block; vertical-align: middle;}
nav #nothome h2{background: url("../images/menu.gif") no-repeat #269aeb  35px; cursor: pointer;}
nav #nothome dl{display: none;}
nav #nothome:hover dl{display: block;}

nav .home-menu .show-mask{background:#fff; background: rgba(255,255,255,0.98); position: absolute; width: 750px; height: 335px; top:41px; left: 190px; outline:1px solid #269aeb; padding:30px; overflow: hidden; display: none;}
nav .home-menu .show-mask>div{margin-left: -40px; display: none;}
nav .home-menu .show-mask section{float:left; margin-left:40px; margin-bottom: 20px; overflow: hidden;}
nav .home-menu .show-mask section h4{font-weight: normal; font-size:16px; line-height: 40px; border-bottom:1px solid #e2e2e2;}
nav .home-menu .show-mask section h4 a{color:#333;}
nav .home-menu .show-mask section>div{overflow: hidden; width: 220px; line-height:14px; height: 87px; margin-left: -11px;}
nav .home-menu .show-mask section>div h5{float: left; font-weight: normal; font-size:12px; overflow: hidden; margin-top:15px; border-left:1px solid #666;}
nav .home-menu .show-mask section>div h5 a.more{color:#ff6800;}
nav .home-menu .show-mask section>div h5 a{margin: 0 10px; display: block;}

div.home-banner{height: 396px; background: #e2e2e2; overflow: hidden; position:relative;}
div.home-banner ul{width:1920px; height:396px; position:absolute; overflow:hidden;}
div.home-banner ul li img{width:1920px; height: 396px;}
div.home-banner ol{position:absolute; top:370px;}
div.home-banner ol li{display:inline-block; background:#f9f9f9; width:8px; height:8px; margin:0 2px; border-radius:4px;}
div.home-banner ol li.current{background:#269AEB;}

#home-counts-box{padding:0; margin: 0; background: #f9f9f9; padding-bottom: 40px;}
div.home-counts{width:1000px; height:50px; margin:0 auto; background: #fff; padding: 35px 0; box-shadow: 0px 0px 40px #e0e0e0;}
div.home-counts ul{overflow: hidden; height:50px;}
div.home-counts ul li{float: left; width:199px; border-left: 1px solid #e2e2e2; text-align: center; font-size:14px; color:#999;}
div.home-counts ul li.first{width: 195px; border-left:0;}
div.home-counts ul li em{font-size:26px; color:#ff6800; font-weight: bold;}

div.home-title{margin: 40px auto 30px auto; text-align: center;}
div.home-title h2{font-size:30px; line-height: 40px; font-weight: normal; color:#333;}
div.home-title p{color:#999; font-size:14px;}

div.home-services{background: #f9f9f9; padding-bottom:40px;margin-top:40px; overflow: hidden;}
div.home-services ul{margin-top: -30px; margin-left: -29px;}
div.home-services ul li{float: left; width: 188px; height: 275px; text-align: center; margin-top:30px; margin-left:29px;  padding:0 20px; background: url("../images/service_bg.png") no-repeat;}
div.home-services ul li:hover{background: url("../images/service_bg_2.png") no-repeat;}
div.home-services ul li span.half{ position: absolute;  border: 1px solid #e2e2e2; border-radius: 50%; top:-26px; left: 50%; z-index: 0;}
div.home-services ul li i.icon{display: block; width: 32px; height: 32px; margin: 10px auto; overflow: hidden;}
div.home-services ul li i.icon img{width: 24px; height: 24px;}
div.home-services ul li h3{font-size:20px; font-weight: normal; margin-top: 10px;}
div.home-services ul li h3 a{color:#269aeb;}
div.home-services ul li p{font-size:14px; line-height: 30px; border-bottom: 1px solid #e2e2e2;}
div.home-services ul li dl{text-align: center; padding:15px 0; line-height: 24px;}
div.home-services ul li dl dt{font-size:14px;}
div.home-services ul li dl dd{font-size:16px; color:#ff6800;}
div.home-services ul li dl dd em{font-size:24px;}
div.home-services ul li>a{display:block; width: 150px; height: 34px; line-height: 34px; border:1px solid #e2e2e2; border-radius: 17px; margin: 0 auto;}
div.home-services ul li:hover>a{color:#fff; border: 1px solid #ff6800; background: #ff6800;}

div.home-solution{}
div.home-solution ul{margin-left: -29px; margin-top: -30px;}
div.home-solution ul li{ width: 314px; float: left; margin-left: 29px; margin-top: 30px; position: relative;}
div.home-solution ul li:hover{box-shadow: 0 1px 20px #e2e2e2; }
div.home-solution ul li.list-1{border-bottom:1px solid #269aeb;}
div.home-solution ul li.list-1 section h3{background: url("../images/pic-1.jpg") no-repeat;}
div.home-solution ul li.list-2{border-bottom:1px solid #ffae13;}
div.home-solution ul li.list-2 section h3{background: url("../images/pic-2.jpg") no-repeat;}
div.home-solution ul li.list-3{border-bottom:1px solid #4cb050;}
div.home-solution ul li.list-3 section h3{background: url("../images/pic-3.jpg") no-repeat;}
div.home-solution ul li.list-4{border-bottom:1px solid #de373e;}
div.home-solution ul li.list-4 section h3{background: url("../images/pic-4.jpg") no-repeat;}
div.home-solution ul li.list-5{border-bottom:1px solid #46d3eb;}
div.home-solution ul li.list-5 section h3{background: url("../images/pic-5.jpg") no-repeat;}
div.home-solution ul li.list-6{border-bottom:1px solid #236ffb;}
div.home-solution ul li.list-6 section h3{background: url("../images/pic-6.jpg") no-repeat;}
div.home-solution ul li section{border:1px solid #e2e2e2;}
div.home-solution ul li section h3{height:80px;  line-height: 80px; font-size:20px; padding-left:30px; font-weight:normal; margin-bottom: 20px;}
div.home-solution ul li section h3 a{color:#fff;}
div.home-solution ul li section p{color:#666; font-size:14px; padding:0 20px; margin-bottom: 20px;}
div.home-solution ul li section span.price{display: block; padding:0 20px; margin-bottom: 20px; font-size:16px; color:#ff6800;}
div.home-solution ul li section span.price em{font-size:24px;}
div.home-solution ul li section span.price a{float:right; font-size:14px; line-height: 14px; padding:6px 20px; border:1px solid #e2e2e2; border-radius:14px;}
div.home-solution ul li:hover section span.price a{border:1px solid #ff6800; color:#ff6800;}
div.home-solution ul li dl{padding:0 20px; color:#333; border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2; padding-bottom: 10px;}
div.home-solution ul li dl.first{padding-top:10px; height: 104px;}
div.home-solution ul li dl dt{font-size:14px; line-height: 30px;}
div.home-solution ul li dl dd{font-size:12px; line-height: 20px; color:#666;}


div.home-advantage{background: #f9f9f9; margin-top: 40px; padding-bottom:40px; overflow: hidden;}
div.home-advantage ul{overflow: hidden; padding:1px 0; background: #fff;}
div.home-advantage ul li{float: left; width:460px; height:80px; padding:20px; overflow: hidden;}
div.home-advantage ul li.item-1{border-bottom:1px dotted #e2e2e2; border-right:1px dotted #e2e2e2;width: 459px;}
div.home-advantage ul li.item-2{border-bottom:1px dotted #e2e2e2;}
div.home-advantage ul li.item-3{border-right:1px dotted #e2e2e2;width: 459px;}
div.home-advantage ul li i{border:2px solid #ff6800; padding:15px; font-size:30px; text-align: center; float: left; color:#ff6800; width: 30px; height: 30px; line-height: 30px; border-radius:50%; margin-right:20px;}
div.home-advantage ul li:hover i{t-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);ransform:rotate(360deg);}
div.home-advantage ul li em{font-size:20px; display: block; color:#269aeb; font-weight: normal; line-height:40px;}
div.home-advantage ul li span{font-size:14px; line-height:20px;}

div.category-box{text-align: center; margin-bottom: 30px;}
div.category-box ol{display: inline-block; color:#666;}
div.category-box ol li{padding:10px 20px; font-size:14px; font-weight:normal; cursor: pointer; text-align: center; display: inline-block; color:#666; line-height: 14px;}
div.category-box ol li.current{background: #269aeb; color:#fff;}
div.category-box ol li:hover{background: #269aeb;color:#fff;}

div.home-process{}
div.home-process .container{margin-left: -66px; position: relative;}
div.home-process .container section{float:left; width:200px; margin-left:66px; text-align: center; padding-top: 90px; position: relative;}
div.home-process .container section.proc-1{background: url(../images/process_0_1.png) no-repeat center top;}
div.home-process .container section.proc-2{background: url(../images/process_0_2.png) no-repeat center top;}
div.home-process .container section.proc-3{background: url(../images/process_0_3.png) no-repeat center top;}
div.home-process .container section.proc-4{background: url(../images/process_0_4.png) no-repeat center top;}
div.home-process .container section h6{font-size:20px; color:#269aeb; font-weight: normal; margin-bottom: 10px;}
div.home-process .container section p{font-size:12px; color:#666; line-height: 20px;}
div.home-process .container>div{position: absolute; width: 128px; height: 32px;}
div.home-process .container>div.link-1{background: url(../images/process_1_1.png) no-repeat; top:0; left:240px;}
div.home-process .container>div.link-2{background: url(../images/process_1_2.png) no-repeat; top:50px; left:500px;}
div.home-process .container>div.link-3{background: url(../images/process_1_1.png) no-repeat; top:0; left:765px;}


div.guarantee{background: #f9f9f9; overflow: hidden; margin-top: 40px; padding-bottom:40px;}
div.guarantee div.main{background:  url(../images/notepad.png) no-repeat 0 40px;}
div.guarantee div.main div.container{padding:40px 0; border-left:2px solid #e2e2e2; margin-left: 500px;}
div.guarantee div.main section{ padding-left: 30px; position:relative; margin-bottom:28px;}
div.guarantee div.main section.last-item{margin-bottom: 0;}
div.guarantee div.main section i{width: 8px; height:8px; border:2px solid #ff6800; border-radius: 50%; display: block; position:absolute; top:5px;left:-7px; background: #fff;}
div.guarantee div.main section.last-item{margin-right: 0;}
div.guarantee div.main section h6{font-size:20px; font-weight: normal; color:#269aeb; line-height:20px; margin-bottom: 10px; }
div.guarantee div.main section p{font-size:14px; line-height:14px;}

div.news{overflow: hidden;}
div.news div.news-container{overflow: hidden; position: relative; height: 325px; width: 1000px;}
div.news div.news-container div.moveBox{height: 325px; position: absolute;}
div.news div.news-container div.loop{float:left; width: 1000px;}
div.news div.news-container dl{float:left; width: 312px;}
div.news div.news-container dl.middle{margin:0 32px;}
div.news div.news-container dl dt{height:195px; overflow: hidden; margin-bottom: 30px; text-align: center;}
div.news div.news-container dl dt img{height: 100%;}
div.news div.news-container dl dd{}
div.news div.news-container dl dd ul{font-size:14px; line-height: 32px;}
div.news div.news-container dl dd ul li{overflow: hidden;}
div.news div.news-container dl dd ul li a{height: 28px; overflow: hidden; float: left; width: 195px;}
div.news div.news-container dl dd ul li time{float: right; color:#999;}
div.news div.news-container a.more{display: block; width: 180px; height: 30px; line-height: 30px; text-align: center; margin: 0 auto; clear: both; margin-top: 290px; border-radius: 2px; border:1px solid #269aeb; color:#269aeb; font-size:14px; background: #fff;}
div.news div.news-container a.more:hover{background: #269aeb; color:#fff; }

div.news div.news-container dl dd ul li span{color:#269AEB; float:left;}
div.news div.news-container dl dd ul li span:before{content:'◆ '; color:#999;}
div.news div.news-container dl dd ul{font-size:14px; line-height: 32px; margin-top:-9px;/*亢超加的*/ }

div.home-assess{background:url(../images/saybg.jpg) no-repeat center center; overflow: hidden; margin-top:40px; padding-bottom: 40px;}
div.home-assess .main{position: relative;}
div.home-assess div.l{background: url("../images/l.gif") no-repeat left center; width: 50px; height: 100%; position:absolute; left: 0;  cursor: pointer; z-index:100;}
div.home-assess div.r{background: url("../images/r.gif") no-repeat right center; width: 50px; height: 100%; position: absolute;right:0;cursor: pointer; z-index:100;}
#usersay{overflow: hidden;}
#usersay ul{position: relative; height: 150px; overflow: hidden;}
#usersay ul li{position: absolute; top:0; left:0; width: 100%; margin: 0 80px;}
#usersay ul li span.photo{display: block; float: left; overflow: hidden; border-radius: 50%; width: 150px; height: 150px; overflow: hidden;}
#usersay ul li span.photo-1{background: url("../images/photo-1.png") no-repeat center center; background-size: cover;}
#usersay ul li span.photo-2{background: url("../images/photo-2.png") no-repeat center center; background-size: cover;}
#usersay ul li span.photo-3{background: url("../images/photo-3.png") no-repeat center center; background-size: cover;}
#usersay ul li dl{margin: 25px 0 0 40px; float: left; width: 650px;}
#usersay ul li dl dt{border-bottom: 1px solid #e2e2e2; color:#333; padding-bottom: 20px;}
#usersay ul li dl dd{font-size:14px; text-align: right; line-height: 40px;}

div.cooper{background:#f9f9f9; overflow: hidden; margin-top: 40px;}
div.cooper div.main{background: url("../images/cooperation.png") no-repeat center top; width: 1000px; height: 203px; margin-bottom: 40px;}
div.zizhi{overflow: hidden; position: relative; height: 144px;}
div.zizhi ul{height: 144px;  position: absolute; top:0; left:0;}
div.zizhi ul li{position: absolute; top:0; width: 220px; height: 144px;}

div.friends{line-height:20px;}
div.friends div.main{border-bottom: 1px solid #e2e2e2;padding:20px 0; }
div.friends h2{margin-bottom:10px; font-weight: normal; font-size:18px; color:#333;}
div.friends h2:before{content: "-";margin-right: 5px;}
div.friends h2:after{content: "-";margin-left: 5px;}
div.friends a{color:#999; font-size:12px; margin-right:10px;}
div.friends a:hover{color:#999; text-decoration: underline;}

footer{ overflow: hidden;}
footer .network{background: #242333; padding-bottom:40px;}
footer .network h2{text-align: center; color:#b7b6cc; font-weight: normal; font-size:30px; height:100px; line-height: 100px;}
footer .network div.fix-float{}
footer .network div.fix-float a{color: #908fa1; font-size:14px; width:121px; margin:5px 0; display: inline-block; text-align: center;}
footer .network div.fix-float a:hover{color:#b7b6cc;}
footer .network dl{width: 260px; float: left; margin-left: 110px; margin-top:27px; height:110px;}
footer .network dl dt{font-size:18px; color:#b7b6cc; margin-bottom: 10px;}
footer .network dl dd{font-size:14px; color:#888796;}
footer .network dl dd p{position: relative; padding-left:75px; line-height: 20px;}
footer .network dl dd p em{position: absolute; top:0; left:0px; line-height: 20px;}
footer .map{background: #1f1f2c; padding-top:40px; color:#7f7f95;}
footer .map .list{float: left; overflow: hidden; margin-left: -80px; margin-right:100px;}
footer .map .list section{float: left; margin-left: 80px;}
footer .map .list section h2{font-size:16px; font-weight: normal; margin-bottom:15px;}
footer .map .list section ul{font-size:12px; line-height: 22px;}
footer .map .list section ul li{}
footer .map .list section ul li a{color:#7f7f95;}
footer .map .list section ul li a:hover{color:#b7b6cc;}
footer .map .telphone{float: left; width: 220px;}
footer .map .telphone span{font-size:12px; display: block;}
footer .map .telphone em{font-size:30px; display: block; margin: 7px 0;}
footer .map .qrcode{float: right; background: url("../images/qrcode.jpg") no-repeat center top ; background-size:contain; padding-top:125px; text-align: center; font-size: 14px; width: 125px; height: 40px; line-height: 40px; position: relative; top:-10px;}

footer .copyright{padding:20px 0; font-size:14px; text-align: center; line-height: 28px; color:#666;}
footer .copyright a{color:#666;}
footer .copyright a:hover{text-decoration: underline; color:#333;}

div.crumbs{font-size:12px; line-height: 12px; margin-top: 20px; color:#999; margin-bottom:30px;}
div.crumbs span{color:#333; margin-right: 5px;}
div.crumbs a{margin: 0 5px;}

div.page{text-align: center;}
div.page {vertical-align: middle;padding:30px 0 60px 0;}
div.page a{display: inline-block; width: 38px; height: 38px; line-height: 38px; border:1px solid #e2e2e2; background: #f9f9f9; color:#999;}
div.page a:hover{ border:1px solid #269aeb; color:#269aeb;}
div.page span{display: inline-block; width: 40px; height: 40px; line-height:40px; background: #269aeb; color:#fff; font-size:16px;}

div.article-common{float:right; width: 253px;}
div.article-common section{/*border: 1px solid #e2e2e2; */margin-bottom: 30px;background: #ffffff; width:252px;}
div.article-common section h2{border-bottom:1px solid #e2e2e2; overflow: hidden; font-size:16px; color:#333; font-weight: normal; padding:10px 20px;}
div.article-common section h2 em{display: block; float: left; border-left: 3px solid #269aeb; padding-left: 10px;margin-top: 10px;}
div.article-common section h2 a{display: block; float: right;}
div.article-common section ul{padding:10px 20px 20px 20px; font-size: 14px;}
div.article-common section ul li{line-height:40px; overflow: hidden;}
div.article-common section ul li i{float:left; width: 20px; height: 20px; margin: 10px 10px 10px 0; line-height: 20px; color:#999; background: #f9f9f9; text-align: center; border:1px solid #e2e2e2;}
div.article-common section ul li.h i{background: #ff6800; color:#fff;}
div.article-common section ul li span{float:right; color:#999; font-size:12px;}
div.article-common section ol{padding:20px; font-size: 14px;}
div.article-common section ol li{margin-bottom: 10px; line-height: 24px; list-style: decimal inside;}
div.article-common section ol li time{display: block; font-size:12px; color:#999; line-height: 12px; margin-left: 15px;}

div.article-list{float:left; width: 727px;background: #ffffff;}
div.article-list ul.list{line-height: 22px;}
div.article-list ul.list li{overflow: hidden; border-bottom:1px dotted #e2e2e2; padding-bottom:10px;margin: 30px 30px 20px 30px; line-height: 22px;}
div.article-list ul.list li>a{float: left; width: 188px; height: 135px; margin-right:30px; overflow: hidden;}
div.article-list ul.list li img{}
div.article-list ul.list li h3 a{font-size:20px; font-weight: normal; color:#333;}
div.article-list ul.list li em{font-size:12px; color:#999; line-height: 40px;}
div.article-list ul.list li p{font-size:14px; line-height: 22px;}
div.article-list ul.list li p a{font-size:12px; color:#269AEB; margin-right: 10px;}
div.article-list ul.list li p a.more{color: #ff6800; font-size:12px;}
div.article-list ul.list li p a.more:before{content:'【';}
div.article-list ul.list li p a.more:after{content:'】';}

div.article-content{overflow: hidden; float:left; /*width: 707px;*/  background: #ffffff; width:727px; /*margin-top: 30px;*/}
div.article-content section{margin-bottom: 20px; margin:30px 30px 16px 30px;}
div.article-content section h1{font-size:24px; font-weight: normal; color:#333; margin-bottom:10px;}
div.article-content section p{font-size:12px; color:#999; margin-bottom: 10px;}
div.article-content section p a{color:#269aeb;}
div.article-content article{font-size:16px; line-height:2em;  margin:0 30px;}
div.article-content .reprint{font-size:14px; line-height: 28px;  border-top:1px solid #e2e2e2; padding-top: 20px;/* margin-top:20px;*/  margin:20px 30px 0 30px;}
div.article-content .reprint a.contact{color:#269aeb;}
div.article-content .widget{/*margin-top:34px;*/  margin:40px 30px -20px 30px;}
div.article-content .widget .like{display: inline-block; color:#269aeb; font-size:16px; background:url("../images/like.png") no-repeat 30px 11px; padding:0 35px 0 65px; border:1px solid #269aeb; border-radius: 25px; height: 50px; line-height: 50px;}
div.article-content .widget .share{float: right;overflow: hidden;}
div.article-content .widget .share a{float:left; height: 50px; min-width: 50px; line-height: 50px; border:1px solid #e2e2e2; border-radius: 25px; margin-left: 10px;}
div.article-content .widget .share a.weibo{background: url("../images/weibo.png") no-repeat center center;}
div.article-content .widget .share a.wechat{background: url("../images/wechat.png") no-repeat center center;}
div.article-content .widget .share a.more{padding:0 25px;}
div.article-content div.prev{margin-top:70px; background: #f9f9f9;}
div.article-content div.prev dl{font-size:16px; line-height:25px;}
div.article-content div.prev dl dt{color:#269aeb;}
div.article-content div.keywords{margin:10px 30px; font-size:12px; color:#999;}
div.article-content div.keywords a{color:#999; font-size:12px; margin: 0 5px;}

article table {border-collapse: collapse; border-spacing: 0;}
article fieldset, article img {border: 0;}
article img{max-width: 100%;}
article blockquote {position: relative;color: #999;font-weight: 400;   border-left: 1px solid #269aeb;padding-left: 1em; margin: 1em 3em 1em 2em;}
article acronym, article abbr {border-bottom: 1px dotted;font-variant: normal;}
article abbr {cursor: help;}
article del {text-decoration: line-through;}
article address, article caption, article cite, article code, article dfn, article em, article th, article var {font-style: normal;  font-weight: 400;}
article caption, article th {text-align: left;}
article q:before, article q:after {content: '';}
article sub, article sup {font-size: 75%;line-height: 0;position: relative;}
article sup {top: -0.5em;}
article sub {bottom: -0.25em;}
article mark {background: #fffdd1; border-bottom: 1px solid #ffedce; padding: 2px; margin: 0 5px;}
article pre, article code, article pre tt {font-family: Courier, 'Courier New', monospace;}
article pre {background: #f8f8f8;border: 1px solid #e2e2e2; padding: 1em 1.5em; display: block;-webkit-overflow-scrolling: touch;}
article hr {border: none;border-bottom: 1px solid #cfcfcf;margin-bottom: 0.8em;height: 10px;}
article small,article figcaption {font-size: 0.9em;color: #999;}
article strong, article b {font-weight: normal; color: #333;}
article p,article pre,article ul,article ol,article dl,article form,article hr,article table,article blockquote {line-height: 2em; margin-bottom: 15px;} 
article h1,article h2,article h3,article h4,article h5,article h6{font-weight: 100;line-height: 1.35; margin-top: 1.2em;margin-bottom: 0.6em; color:#333;}
article h1{font-size: 1.7em;}
article h2{font-size: 1.6em;}
article h3{font-size: 1.5em;}
article h4{font-size: 1.4em;}
article h5{font-size: 1.3em;}
article h6{font-size: 1.2em;}
article ul{margin-left: 1.3em;list-style: disc;}
article ol{margin-left: 1.9em;list-style: decimal;}
article li ul, article li ol{margin-bottom: 0.8em;margin-left: 2em;}
article li ul {list-style: circle;}
article a{color:#269aeb;}

.service-info{margin-bottom: 40px;}
.service-info span.pictrue{float: left; width: 330px; height: 240px; overflow: hidden; margin-right: 40px;}
.service-info span.pictrue img{width: 100%; height: 100%;}
.service-info section{float: left; width:630px;}
.service-info section h1{font-size:24px; color:#333; margin-bottom: 20px; font-weight: normal;}
.service-info section .price{background: #f9f9f9; padding:15px 20px; font-size:12px; overflow: hidden; line-height: 24px; margin-bottom: 20px;}
.service-info section .price dl.l{float: left;}
.service-info section .price dl.l dt span{color:#ff6800;font-size:14px;}
.service-info section .price dl.l dt span em{font-size:20px;}
.service-info section .price dl.l dd{color:#999;}
.service-info section .price dl.r{float: right; text-align: center;}
.service-info section .price dl.r dt{color:#269aeb;}
.service-info section .price dl.r dd{font-size:14px;}

.service-info section div.attr{margin-bottom:20px;}
.service-info section div.attr dl{overflow: hidden;}
.service-info section div.attr dl dt{float: left; line-height: 30px;}
.service-info section div.attr dl dd{float: left; overflow: hidden;}
.service-info section div.attr dl.type dd{margin-left:-10px; margin-top: -10px;}
.service-info section div.attr dl.type dd span{display: block; float: left; line-height: 30px; margin-left: 10px; cursor: pointer; border: 1px solid #e2e2e2; text-align: center; margin-top: 10px; font-size:14px; padding:0 20px;}
.service-info section div.attr dl.type dd span:hover{border: 1px solid #269aeb;}
.service-info section div.attr dl.type dd span.current{border:1px solid #269aeb; color:#269aeb;}
.service-info section div.attr dl.select dd select{border:1px solid #e2e2e2; height: 30px; padding-left:10px; font-size:14px; min-width: 100px; vertical-align: middle; color:#777;}
.service-info section div.attr dl.select dd select:hover{border:1px solid #269aeb;}
.service-info section>a{display: inline-block; width: 168px; height: 33px; line-height:33px; border:1px solid #269aeb; text-align: center; border-radius: 2px;}
.service-info section>a.btn1{background: #fff; color:#269aeb; margin-top:10px;}
.service-info section>a.btn2{background: #269aeb; color:#fff; margin-top:10px;  margin-right: 15px; margin-left: 20px;}

.service-sib{overflow: hidden; margin-bottom: 40px;}
.service-sib h2{font-size:16px; margin-bottom: 30px; font-weight:normal; padding-top:20px; border-top:1px solid #e2e2e2; overflow: hidden;}
.service-sib h2 em{color:#333; padding-left:10px; border-left:2px solid #269aeb;}
.service-sib h2 a{float: right; color:#999;}
.service-sib ul{margin-left: -40px;}
.service-sib ul li{float:left; width: 220px; margin-left: 40px; overflow: hidden; line-height: 24px; font-size:14px;}
.service-sib ul li div.jqthumb{float:left; margin-right: 10px;}
.service-sib ul li img{width: 75px; height: 75px;  overflow: hidden; display: block;}
.service-sib ul li h3{font-size:16px; font-weight: normal;}
.service-sib ul li p{color:#ff6800;}
.service-sib ul li em{display: inline-block; border-radius: 2px; padding: 0px 10px; background: #269AEB; color:#fff; font-size:12px;}

.article-sib{overflow: hidden; margin-bottom: 40px;}
.article-sib h2{font-size:16px; margin-bottom: 30px; font-weight:normal; padding-top:20px; border-top:1px solid #e2e2e2; overflow: hidden;}
.article-sib h2 em{color:#333; padding-left:10px; border-left:2px solid #269aeb;}
.article-sib ul{margin-left: -40px;}
.article-sib ul li{margin-left: 40px; float: left; width:460px;  overflow: hidden; margin-bottom: 10px;}
.article-sib ul li h3{font-weight: normal;}
.article-sib ul li h3 a{font-size: 14px; color:#333;}
.article-sib ul li time{float: right; color:#999; font-size:14px;}

.service-detail-nav ul{border-bottom:2px solid #e2e2e2; margin-bottom:30px;}
.service-detail-nav ul li{border-bottom:2px solid #e2e2e2; position: relative; top:2px; float: left; width: 110px; height: 40px; text-align: center;}
.service-detail-nav ul li.current{border-bottom:2px solid #269aeb;}
.service-detail-nav a{display: block;font-size:18px; height: 18px; line-height: 18px; color:#333; margin: 11px 0; border-right:1px solid #e2e2e2;}
.service-detail-nav ul li.last-item a{border-right: 0;}

.service-detail{overflow: hidden; margin-bottom: 40px;}
.service-detail .service-banner{margin-bottom: 40px;}
.service-detail .service-banner img{width: 100%;}
.service-detail h3{background: url("../images/hb.png") no-repeat center bottom; padding-bottom: 5px; text-align: center; height: 40px; line-height: 40px; font-weight:normal; font-size:30px; color:#333; margin: 30px auto 40px auto;}

.service-detail .faq dl{overflow: hidden; margin-bottom: 20px;}
.service-detail .faq dl dt{overflow: hidden; font-size: 18px; color:#333; line-height: 30px;}
.service-detail .faq dl dt em{font-size: 22px; color:#269aeb; content: "Q："; width: 40px; font-family: "consolas"; float: left;}
.service-detail .faq dl dd em{font-size: 22px; color:#ff6800; content: "A：";width: 40px; font-family: "consolas"; float: left;}
.service-detail .faq dl dd{overflow: hidden; font-size: 14px; color:#666; line-height: 22px;}
.service-detail .faq dl dd span,.service-detail .faq dl dt span{float: left; width: 960px;}

.service-detail .other-service{overflow: hidden; margin-top: -30px; margin-bottom: 40px;}
.service-detail .other-service a{float: left; width: 270px; margin-top: 30px;}
.service-detail .other-service a>span{display: block; width: 120px; height: 120px; margin: 0 auto; margin-bottom: 10px; border:2px solid #269aeb; border-radius: 50%; background-size:50%; background-position: center; background-repeat: no-repeat;}
.service-detail .other-service a.middle{margin: 30px 95px 0 95px;}
.service-detail .other-service a h4{font-size:20px; color:#333; font-weight: normal; text-align: center; line-height: 40px;}
.service-detail .other-service a p{font-size:14px; text-align: center; color:#777;}
.service-detail .other-service a:hover>span{transform:rotate(-15deg)}

#telPopupDiv{background:#fff; border:1px solid #269aeb; position: fixed; width:450px; height:300px; margin: auto;  bottom:0; top:0; left:0; right:0; padding:30px 40px;  display: none; z-index: 10; overflow: hidden;}
#telPopupDiv div.form{display: block;}
#telPopupDiv div.success{background: url(../images/success.png) no-repeat center top; padding-top: 150px; color:#269aeb; line-height: 30px; display: none;}
#telPopupDiv div.success a{background: #269aeb; color: #fff;  display: block; width: 168px; height: 33px; line-height: 33px; border: 1px solid #269aeb; text-align: center; border-radius: 2px; margin: 40px auto 0 auto;}
#telPopupDiv h2{color:#269aeb; font-weight: normal; text-align: center; background: url(../images/hb.png) no-repeat center bottom; padding-bottom: 5px; line-height: 40px; font-size:24px; margin-bottom: 20px;}
#telPopupDiv dl{overflow: hidden; line-height:40px; font-size:14px;}
#telPopupDiv dl dt{float:left; width: 80px; color:#333;}
#telPopupDiv dl dd input{border:1px solid #e2e2e2; height: 30px; line-height: 30px; padding: 0 5px; outline: 0; width: 250px;}
#telPopupDiv dl dd input.code{width: 70px;}
#telPopupDiv div.btn{margin-top: 20px; text-align: center;}
#telPopupDiv div.btn a{display: inline-block; padding:0 20px; border-radius: 15px; height: 30px; line-height: 30px; margin: 0 10px;}
#telPopupDiv div.btn a.submit{border:1px solid #269aeb; background: #269aeb; color:#fff; }
#telPopupDiv div.btn a.reset{border:1px solid #999; color:#999;}
#telPopupDiv a.colse{position: absolute; right:10px; top:10px; color:#999; font-size:16px;}

.service-category{border:#e2e2e2 1px solid;margin-bottom:30px; background: #f9f9f9; padding:20px; line-height: 40px;/*margin-top: 30px;*/}
.service-category dl{overflow: hidden;}
.service-category dl dt{float:left; font-size:16px; }
.service-category dl dt:after{content: "：";  }
.service-category dl dd{float:left; margin-right: 50px;}
.service-category dl dd h2{ font-weight: normal; font-size:14px; margin-right:10px; cursor: pointer;}
.service-category dl dd h3{font-size:14px; font-weight: normal; margin-right:10px;}
.service-category dl dd a.current{color:#269aeb;}



.service-list{overflow: hidden;}
.service-list li{overflow: hidden; padding-bottom:10px; margin-bottom:30px; border-bottom: 1px dotted #e2e2e2;}
.service-list li a.pics{float: left; overflow: hidden; width: 188px; height: 135px; margin-right: 30px;position:relative; color:#ff6800;}
.service-list li a.pics em{display: block; width: 100%; height:40px; line-height: 40px; position:absolute; background:rgba(255,255,255,0.8); margin: auto; top:0; bottom:0; text-align: center;text-shadow:0px -1px 1px #fff;}
.service-list li dl{float: left; width: 780px;}
.service-list li dl dt{ margin-bottom:15px; overflow: hidden;}
.service-list li dl dt h4{font-weight: normal; float: left; font-size:20px;}
.service-list li dl dt h4 a{color:#333;}
.service-list li dl dt h4 a:hover{color:#269aeb;}
.service-list li dl dt span{float: right; color:#ff6800; font-size:14px;}
.service-list li dl dt span em{font-size:22px;}
.service-list li dl dd{}
.service-list li dl dd p{margin-bottom: 15px; line-height: 22px; font-size:14px; color:#999;}
.service-list li dl dd span.container{overflow: hidden;}
.service-list li dl dd span.container .types{float: left; overflow: hidden; width: 600px; height:35px;overflow: hidden; margin-left:-7px; margin-bottom:-7px;}
.service-list li dl dd span.container .types a{float:left; padding:5px 10px; border:1px solid #e2e2e2; margin-left: 7px; color:#269aeb; margin-bottom: 7px; font-size: 12px; border-radius: 14px;}
.service-list li dl dd span.container a.btn{float: right; border:1px solid #ff6800; width: 100px; height: 30px; line-height: 30px; text-align: center; color:#ff6800; border-radius: 2px; font-size:14px;}
.service-list li dl dd span.container a.btn:hover{background: #ff6800; color:#fff;}

div.company{background: #f9f9f9; padding-top:30px; padding-bottom: 40px;}
div.company ul.company-menu{float: left; width: 190px; background: #fff; line-height: 57px; text-align: center; margin-right: 40px;}
div.company ul.company-menu li{border-bottom:1px solid #e2e2e2; border-left: 3px solid #fff;}
div.company ul.company-menu li.last-item{border-bottom:0;}
div.company ul.company-menu li.current{border-left: 3px solid #269aeb; }
div.company ul.company-menu li.current a{color:#269aeb;}
div.company ul.company-menu li a{display: block; }

div.company-detail{background: #fff; float: left; width: 770px; font-size:14px;}
div.company-detail h1{height: 57px; line-height: 57px; border-bottom: 1px solid #e2e2e2; padding:0 30px; font-size:20px; color:#333; font-weight: normal;}
div.company-detail section{padding:30px; border-bottom: 1px solid #e2e2e2;}
div.company-detail section:last-child{border-bottom: 0;}
div.company-detail section.city-selector .city-list{margin-bottom: -20px;}
div.company-detail section.city-selector h2{font-size:20px; font-weight: normal; margin-bottom: 20px;}
div.company-detail section.city-selector a{display: inline-block; width:87px; line-height: 28px; text-align: center; margin:0 5px 20px 5px; }
div.company-detail section.city-selector a:hover,
div.company-detail section.city-selector a.current{outline: 1px solid #269aeb; color:#269aeb;}

div.company-detail section.city-network{}
div.company-detail section.city-network h2{font-size:20px; font-weight: normal; margin-bottom:30px;}
div.company-detail section.city-network dl{margin-bottom: 30px;}
div.company-detail section.city-network dl dt{font-size:18px; margin-bottom:10px;}
div.company-detail section.city-network dl dd{font-size: 14px; line-height: 22px;}

div.company-detail section.complaint{}
div.company-detail section.complaint h3{font-size:18px; font-weight: normal; margin-bottom: 10px;}
div.company-detail section.complaint p{}

div.company-detail article{padding:30px; font-size:14px;}

div.hot-search{padding:20px; font-size:12px;}
div.hot-search a{padding:5px 10px; border-radius:40px; background: #f9f9f9; border: 1px solid #e2e2e2; display: inline-block; margin-bottom: 10px;}
div.hot-tag{padding:20px; font-size:12px; line-height: 24px;}
div.hot-tag a{margin:3px 5px;}


.citys_list h2{font-size:18px; color:#269aeb; margin-bottom:20px; background: #f0f0f0; line-height: 40px; padding-left: 15px;}
.citys_list dl{overflow: hidden; margin:20px 0; padding-left: 15px; border-bottom: 1px dashed #f0f0f0; padding-bottom: 20px;}
.citys_list dl dt{ margin-right: 20px; font-size: 16px; color:#333; font-weight: bold; line-height: 40px;}
.citys_list dl dd{font-size: 16px;}
.citys_list dl dd a{margin-right: 15px;}

.zhaoshang_ad{background: url("../images/zhaoshang.png") no-repeat center center; width: 100%; height: 159px;}
.template-text{height: 400px; overflow: hidden;}
.template-text-0{background: url("../images/temp-0.jpg") no-repeat center center; color:#fff; font-weight: bold; text-align: center; text-shadow: 0px 5px 0px #770000;}
.template-text-0 h4{position: relative; font-size:50px; margin-top: 80px; margin-bottom: 20px; left: 25px; }
.template-text-0 p{position: relative; font-size:24px; left:25px; line-height:45px;}
.template-text-0 p:last-child{margin-top: 50px;}
.template-text-1{background: url("../images/temp-1.png") no-repeat center center;}
.template-text-1 span{display: block; margin: auto; font-size:60px; font-weight: bold; color:#ff3e3e; text-shadow: 0px 4px 0px #D2820A; text-align: center; position: relative; left: 100px; margin-top:60px;}
.template-text-1 span i{color:#fff;}
.template-text-2{background: url("../images/temp-2.png") no-repeat center center;}
.template-text-2 span{display: block; margin: auto; font-size:60px; font-weight: bold; color:#ffff00; text-align: center; position: relative; left: 150px; margin-top:100px;}
.template-text-2 span i{color:#fff;}

.advant{padding:15px 0 35px;background-color:#f9f9f9;}
.advant ul{display: flex;width:1000px;margin:0 auto;}
.advant ul li{width:25%; text-align:center;color:#666;line-height: 18px;font-size: 14px;}
.advant ul li img{display: block;margin:0 auto 14px;}
.advant ul li span{float:right;width:1px;height:38px;margin-top:22px;background-color:#e7e7e7;}