/*网站头部*/
/*


/*网站主题*/
.main{width:100%;min-width:1200px;}
.main p.h22{font-size: 40px; color:#333333;font-weight: normal;text-align: center;line-height: 40px; margin-bottom: 12px;padding-top: 80px;}
.main p.h55{font-size: 18px; color:#333333;font-weight: normal;text-align: center;line-height: 18px; margin-bottom: 50px;}


/*banner*/
div.home-banner{height: 400px; background: #e2e2e2; overflow: hidden; position:relative;}
div.home-banner ul{width:1920px; height:400px; position:absolute; overflow:hidden;}
div.home-banner ul li img{width:1920px; height: 400px;}
div.home-banner ol{position:absolute; top:370px;}
div.home-banner ol li{display:inline-block; background:#f9f9f9; width:8px; height:8px; margin:0 2px; border-radius:4px;}
div.home-banner ol li.current{background:#269AEB;}


/*优惠活动*/
.main .discounts{padding:40px 0 60px 0;}
.main .discounts .center{border-left: 1px solid #efefef;border-right: 1px solid #efefef; border-bottom: 1px solid #efefef; }
.main .discounts .center .dis_title{width: 1198px;}
.main .discounts .center .dis_title div{float: left;width:599px;text-align: center; cursor:pointer;}
.main .discounts .center .dis_title div.a1{height: 49px; border-top: 1px solid #efefef;line-height: 45px;background: #eeeeee;}
.main .discounts .center .dis_title div.a2{height: 47px;border-top: 3px solid #ff6c55;line-height: 49px;}
.main .discounts .center .dis_title div p.huodong_h3{font-size: 20px;}
.main .discounts .center .dis_title div p.huodong_h3 span{color:#fff;font-size: 12px;background: #ff745e; padding:1px 3px; border-radius: 3px; margin-top: -10px;}
.main .discounts .center .item+.div_item{display: none;}
.main .discounts .center .item{margin-top: 15px;padding-bottom: 14px;}
.main .discounts .center .item ul li{width: 225px; height: 140px; background: #01c2f8; color:#fff; font-size: 16px;font-weight: bold; overflow: hidden; float: left; margin-left: 10px;}
.main .discounts .center .item ul li p.eat_h4{font-size: 20px; color: #fff;margin:20px 0 0 20px; }
.main .discounts .center .item ul li div a{font-size: 14px; background:#def7ff; color: #01c2f8; line-height: 14px;    padding: 2px 5px;    margin-top: 8px;display: block;}
.main .discounts .center .item ul li div.item1{margin-left: 20px;    margin-top: 12px;}
.main .discounts .center .item ul li div div{float: left;}
.main .discounts .center .item ul li div img{float: left;    margin-left: 45px;}
.main .discounts .center .item ul li.one_li{margin-left: 15px;}
.main .discounts .center .item ul li.two_li{background: #ffae13; }
.main .discounts .center .item ul li.two_li a{color: #ffae13;}
.main .discounts .center .item ul li.san_li{background: #46d36b; }
.main .discounts .center .item ul li.san_li a{color: #46d36b;}
.main .discounts .center .item ul li.four_li{background: #5fa5fd; }
.main .discounts .center .item ul li.four_li a{color: #5fa5fd;}
.main .discounts .center .item ul li.five_li{background: #ff6c55; }
.main .discounts .center .item ul li.five_li a{color: #ff6c55;}

/*hover*/
.main .discounts .center .dis_title div.aa1{width:599px;height: 49px;border-top: 1px solid #efefef;line-height: 45px;background: #eeeeee;}
.main .discounts .center .dis_title div.aa2{float: left;width: 599px;text-align: center;height: 47px;border-top: 3px solid #ff6c55;line-height: 49px; background: #fff;}



/*创业必备服务*/
.main .essential{background: #eeeeee;padding-bottom: 80px;}
.essential .item{}
.essential .item ul li{float: left;width:225px; text-align: center;}
.essential .item ul li+li{margin-left: 100px;}
.essential .item ul li p.chuangye_h4{font-size: 24px; font-weight: normal; padding:18px 0;}
.essential .item ul li p{font-size: 16px;}

/*服务优势*/
.main .advantage{background: #3399ff; padding-bottom: 80px;}
.main .advantage .h22,.main .advantage .h55{color:#fff;}
.main .advantage .item{background: url(http://www.taoding.cn/sem/pc/img/index/adv_03.png) no-repeat center center;width: 1200px; height: 370px; color:#fff;}
.main .advantage .item ul{float: left;}
.main .advantage .item .title{float: left;}
.main .advantage .item ul li{width: 330px; margin-left: 150px;}
.main .advantage .item ul li p.youshi_h4{font-size: 24px; font-weight: normal;text-align: right;margin-bottom: 15px;}
.main .advantage .item ul li p{font-size: 16px;line-height: 20px;}
.main .advantage .item ul li+li{margin-top: 60px;}
.main .advantage .item ul li.nth_2{width: 400px; margin-left: 30px;}
.main .advantage .item div{width: 130px; text-align: center; margin-top: 155px;margin-left: 58px;}
.main .advantage .item div p.youshi_h4{font-size: 36px;}
.main .advantage .item div p{font-size: 18px;}
.main .advantage .item ul.ul_two li{margin-left: 50px; width: 350px;}
.main .advantage .item ul.ul_two li.nth_2{margin-left: 100px; margin-top: 80px;width: 400px;}
.main .advantage .item ul.ul_two li p.youshi_h4{text-align: left; }
/*服务流程*/
.main .flow{padding-bottom: 80px;}
.flow .item{background: url(../images/flow_16.jpg) no-repeat center center; width:1200px; height:354px ;}
.flow .item ul li{float: left;width:71px;margin-left: 90px; text-align: center;}
.flow .item ul li p.zixun_h4{font-size: 24px; color:#fff; margin-top: 15px; }
.flow .item ul li div.p{margin-top: 120px;}
.flow .item ul li div p{font-size: 16px;}
.flow .item ul li+li{margin-left: 166px;}
.flow .item ul li.even p.zixun_h4{margin-top: 125px;}
.flow .item ul li div.p1{margin-top: 100px;}
/*常见问题*/
.main .faq{padding-bottom: 80px;}
.faq .item{}
.faq .item .ul{float: left; width: 355px;}
.faq .item .ul+.ul{margin-left: 67px;}
.faq .item .faq_title{border-bottom: 1px dashed #dfdfdf; padding-bottom: 10px;}
.faq .item .ul .faq_title h2 a{font-size: 20px; font-weight: normal; border-left: 3px solid #3399ff; display: block;line-height: 18px; float: left; padding-left: 5px;}
.faq .item .ul .faq_title a{float: right; font-size: 16px; display: block;}
.faq .item .ul ul li{font-size: 16px; margin-top: 20px;}
.faq .item .ul .faq_img{padding-top: 26px; padding-bottom: 10px;}
.faq .item .ul ul li a{display: block;float: left;}
.faq .item .ul ul li span{display: block;float: right;}

/*合作伙伴*/
.partner{padding-bottom: 80px; background: #eee;}
.partner .center .item{border:1px solid #dfdfdf}
.partner .center .item img{width: 238.5px; height:129px; float: left;}
.partner .center .item img.i1{border-bottom: 1px solid #dfdfdf;}
.partner .center .item img.i2{border-left: 1px solid #dfdfdf;}

/*五大特点*/
.feature{ padding:80px 0; background: #fff;}
.feature .center .div{float: left; margin-right: 28px;}
.feature .center .div img{float: left;}
.feature .center .div div{float: left; margin-left: 10px;}
.feature .center .div5{margin-right: 0;}
.feature .center .div div p.guwen_h3{font-size: 24px; font-weight: normal; margin:-10px 0 5px 0;}
.feature .center .div div p{font-size: 16px; line-height: 22px;}

/*服务分支*/
.branch{background: #eee; padding:50px 0;}
.branch p.service_h3{font-size: 20px;padding-bottom: 10px; font-weight: bold; color:#333;}
.branch ul li{float: left; font-size: 16px;}
.branch ul li a{padding-right: 15px; font-size: 16px;}
.branch ul li+li a{padding-left: 15px;}

/*淘钉财税热门服务*/
.tdservice{padding:75px 0;}
/*.tdservice h3{font-size: 20px;padding-bottom: 10px;}*/
.tdservice p.reme_h3{font-size: 20px;padding-bottom: 10px;   margin-top: 15px; font-weight: bold; color:#333;}
.tdservice .item{float: left; }
.tdservice .item+.code{float: right;}
.tdservice .item ul.ul_one{margin-bottom: 30px;}
.tdservice .item ul li{float: left;}
.tdservice .item ul li a{padding-right: 13px; font-size: 16px;}
.tdservice .item ul li+li a{padding-left: 13px;}
.tdservice .item+.line{width:1px;height: 150px; background: #dfdfdf; margin-left: 60px;    margin-top: 5px;}
.tdservice .code div.code_ul{float: left;margin-top: 25px; }
.tdservice .code .code_ul p{float: none; font-size: 18px; line-height: 18px;}
.tdservice .code .code_ul p+p{font-size: 40px; color:#3399FF; font-weight: bold; line-height: 40px;padding:20px 0px;}
.tdservice .code .code_ul p+p+p{ font-size: 16px; line-height: 16px;padding:0; color:#555555; font-weight: normal;}
.tdservice .code div.ewm{float: left; text-align: center;margin-left: 80px;}
.tdservice .code div.ewm p{font-size: 16px;}


/*网站尾部*/
footer{background: #2a2a2a; padding:50px 0 100px 0; width: 100%; min-width: 1200px;}
footer .center p.youlian_h4{font-size: 18px; color:#fff; margin-bottom: 20px; text-align: left;}
footer .center ul{width: 1200px; border-bottom: 1px solid #2e2e2e; padding-bottom: 30px;}
footer .center ul li{float: left; margin-right: 20px;}
footer .center ul li a{color:#fff;font-size: 16px;}
footer .center ul li a:hover{color:#3399FF;}
footer .center p{color:#fff;font-size: 16px;text-align: center;line-height: 24px; margin-top: 30px;}
footer p.mowei a{font-size: 16px; color:#f2f2f2;}



