
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script>
$(function() {    
    var socket;
    var readyState = ["connecting", "connected", "closing", "closed"];
    /* 打开连接事件 */
    $("#open").click(function() {
        try {
             /* 连接 */
             socket = new WebSocket("ws://127.0.0.1:8282");
             
             /* 绑定事件 */
             socket.onopen = function() {
                 $("#msg").html("<p class=suc>连接成功...</p>");
             };
             
            socket.onmessage = function(e) {
                // console.log(e)
                 $("#msg").html();
				 //$("#msg").html() + "<br />" + e.data
             };
             
             socket.onclose = function() {
                 $("#msg").html($("#msg").html() + "<br /><p class=suc>关闭连接...</p>");
             };
        } catch(exception) {
            $("#msg").html($("#msg").html() + "<br />有错误发生");
        }
    });
    
    /* 发送数据事件 */
    $("#send").click(function() {
        /* 检查文本框是否为空 */
        if($("#data").val() == "") {
            alert("请输入数据！");
            return;
        }
   
        try {
            socket.send($("#data").val());
            $("#msg").html($("#msg").html() + "<br /><div class=chat_mesdiv><span class=chat_mes>用户：" + $("#data").val() + "</span></div>");
        } catch (exception) {
            $("#msg").html($("#msg").html() + "<br />发送数据出错");
        }
        
        /* 清空文本框 */
        $("#data").val("");
    });
    
    /* 断开连接 */
    $("#off").click(function() {
        socket.close();
    });
});
</script>
<!DOCTYPE html>
<html>
<head>
    <title>聊天室</title>
	<link href="/static/home/css/chat.css" rel="stylesheet" />
</head>
<body>
    <div class="chat_head">
		<div class="chat_logo">
			<img src="/static/home/picture/2017091515370879466.png" width="100%" />
		</div>
        <div class="chat_tit">
			<p>陕西淘钉智能财税服务有限公司</p>
			<p>为您在线解答售前(7×12)服务</p>
		</div>
    </div>
    <div class="chat_main">
		<div class="chat_con">
		    <div id="msg">
				
		    </div>
		</div>
		<div class="chat_about">
			<ul>
				<li style="text-align: center; padding: 15px 0px;">
					关于我们
				</li>
				<li style="margin: 0px 10px; line-height: 2;">
					陕西淘钉智能财税服务有限公司，隶属于淘丁集团，成立于2014年9月，中国总会计师协会常务理事单位，AAAAA级代理记账机构，是“互联网+”综合企业服务平台。
					
					公司致力于优化企业服务的生态体系，整合海量资源，为企业及个人客户提供多领域、全面、专业的创业服务。一方面利用互联网模式下的会计AI智能机器人，提供智能化、标准化企业注册、代理记账、税务筹划、财务顾问等系统专业的财税服务，另一方面，提供创投孵化、教育培训、咨询管理、知识产权、资质代办、人事社保、高新技术企业认定等一站式企业创业服务。
					
					公司自成立以来，平均每年为客户办理执照2万多件，注册商标2万多件，代理记账4万多户。
					
					客服热线：400-029-1105
				</li>
			</ul>
		</div>
	</div>
    <div class="chat_bot">
        <p style="padding: 10px 0px; background: #E0E0E0;"><button id="open">开启链接</button></p>
        <p>
			<span class="chat_keyin">
				<textarea type="text" name="content" id="data"></textarea>
			</span>
		</p>
        <p style="padding: 10px 0px;">
			<button id="send">发送</button>
			<button id="off">断开</button>
		</p>
    </div>

</body>
</html>
